<form action='/users' method='post'>
  <input type='text' name='first_name'/>
  <input type='text' name='last_name'/>
  <input type='text' name= 'email'/>
  <input type='text' name= 'username'/>
  <input type='password' name='password'/>
  <input type='submit' value='Signup' />
</form>
